.sort {
  position: relative;
  width: 210px;
  cursor: pointer;}
  .label {
    display: flex;
    align-items: center;

    b {
      margin-right: 8px;
      font-weight: 500;
    }

    span {
      color: #000;
      cursor: pointer;
      font-weight: 500;
    }
  }

  .popup {
    position: absolute;
    left: 0;
    margin-top: 10px;
    background: #ffffff;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
    border: #fff ;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid rgb(66, 66, 66);

    ul {
      display: flex;
      overflow: hidden;
      margin-bottom: 0;
      li { 
        padding: 5px 20px;
        cursor: pointer;

        &.active,
        &:hover {
          background: rgba(254, 95, 30, 0.05);
        }
      }
    }
  }
